{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>Akreditas Jurusan Fakultas Hukum Untirta</h1></center><br>
    <h2>1. Ilmu Hukum akreditasnya adalah </h2>
    <p>B</p><br>
    <h2><li>Jurusan ilmu hukum di Untirta dipecah menjadi beberapa bagian, yaitu:</h2></li>
    <p>1. Hukum Ketenagakerjaan <br>
        2. Hukum Kedokteran dan Kehakiman <br>
        3. Pengantar Ilmu Hukum<br>
        4. Pengantar Hukum Indonesia<br>
        5. Legal Contract<br>
        6. Sistem Peradilan Anak<br>
        7. Ilmu Perundang-undangan <br>
        8. Hukum Agraria<br>
        9. Hukum Pidana Islam<br>
        10. Litigasi
    </p>

{% endblock %}