{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>FAKULTAS HUKUM</h1></center>
    <h2>Terdiri dari:</h2>
    <p>1. Hukum Perdata <br>
    2. Hukum Lingkungan dan Tata Ruang <br>
    3. Hukum Ekonomi, Hukum Internasional <br>
    4. Hukum dan Teknologi <br>
    5. Hukum Pidana <br>
    6. Hukum Administrasi Negara <br>
    7. Hukum Tata Negara <br>
    8. Hukum dan Perkembangan Masyarakat <br>
    9. Hukum Acara</p>
    
{% endblock %}