{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h2>Akreditas Jurusan Fakultas Teknik Untirta</h2></center><br>
    <h2>1. Teknik Metalurgi akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>2. Teknik Sipil akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>3. Teknik Mesin akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>Teknik Industri akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>Teknik Elektro akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>Teknik Kimia akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>Informatika akreditasnya adalah</h2>
    <p>-</p>

{% endblock %}