{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>Akreditas Jurusan Fakultas Ilmu Sosial dan Ilmu Politik Untirta</h1></center><br>
    <h2>1. Ilmu Pemerintahan akreditasnya adalah</h2>
    <p>A</p>
    <h2><li>Jurusan Ilmu Pemerintahan Untirta dipecah menjadi beberapa bagian, yaitu:</li></h2>
    <p>1. Pendidikan Anti Korupsi<br>
    2. Perubahan Sosial Politik<br>
    3. Sistem Pemerintahan Indonesia<br>
    4. Sistem Politik Indonesia<br>
    5. Hukum Tata Negara</p><br><br>
    <h2>2. Administrasi Publik akreditasnya adalah</h2>
    <p>A</p>
    <h2><li>Jurusan Administrasi Publik Untirta dipecah menjadi beberapa bagian, yaitu:</li></h2>
    <p>1. Kebijakan Publik<br>
    2. Analisis Kebijakan<br>
    3. manajemen Publik<br>
    4. Evaluasi Kebijakan<br>
    5. Formulasi Kebijakan</p><br><br>
    <h2>3. Ilmu Komunikasi akreditasnya adalah</h2>
    <p>A</p>
    <h2><li>Jurusan Ilmu Komunikasi Untirta dipecah menjadi beberapa bagian, yaitu:</li></h2>
    <p>1. Komunikasi Antar Pribadi<br>
    2. Komunikasi Organisasi<br>
    3. Komunikasi Antar Budaya<br>
    4. Protokoler<br>
    5. Teori Komunikasi</p>

{% endblock %}