{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>Akreditas Jurusan Fakultas Ekonomi dan Bisnis Untirta</h1></center>
    <br>
    <h2>1. Manajemen akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>2. Akuntansi akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>3. Ilmu Ekonomi Pembangunan akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>4. Ekonomi Syariah akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>5. Diploma III Keuangan Perbankan akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>6. Diploma III Marketing akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>7. Diploma III Akuntansi akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>8. Diploma III Perpajakan akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>9. Magister Manajemen akreditasnya adalah</h2>
    <p>C</p><br>
    <h2>10. Magister Akuntansi akreditasnya adalah</h2>
    <p>C</p>

{% endblock %}