{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>Akreditas Jurusan Fakultas Kedokteran Untirta</h1></center><br>
    <h2>1. Kedokteran akreditasnya adalah</h2>
    <p>B</p>
    <h2><li>Jurusan Kedokteran Untirta dipecah menjadi beberapa bagian, yaitu:</li></h2>
    <p>1. Kegawatdaruratan Maternal Neonata<br>
    2. Ilmu Biomedik Dasar<br>
    3. Gizi dan Kesehatan<br>
    4. Anatomi Fisiologi I & II<br>
    5. Kardiovaskular</p><br><br>
    <h2>2. Keperawatan akreditasnya adalah</h2>
    <p>-</p>
    <h2><li>Jurusan Keperawatan Untirta dipecah menjadi beberapa bagian, yaitu:</li></h2>
    <p>1. Konsep Dasar Keperawatan I & II<br>
    2. Manajemen Patient Safety<br>
    3. Falsafah dan Teori Keperawatan<br>
    4. Keperawatan Maternitas<br>
    5. Keperawatan Gerontik</p><br><br>
    <h2>3. Gizi akreditasnya adalah</h2>
    <p>B</p>
    <h2>Jurusan Gizi Untirta dipecah menjadi beberapa bagian, yaitu:</h2>
    <p>1. Gizi Daur Kehidupan<br>
    2. Analisis Zat Gizi<br>
    3. Dasar Ilmu Gizi<br>
    4. Kulinari Pangan dan Gizi<br>
    5. Metabolisme Zat Gizi</p><br><br>
    <h2>4. Ilmu Keolahragaan akreditasnya adalah</h2>
    <p>B</p>
    <h2>Jurusan Ilmu Keolahragaan Untirta dipecah menjadi beberapa bagian, yaitu:</h2>
    <p>1. Rehabilitas Cedera Olahraga<br>
    2. Biomekanika Olahraga<br>
    3. Analisis Teknologi Keolahragaan<br>
    4. Pengantar Ilmu Keolahragaan<br>
    5. Atletik</p>

{% endblock %}