{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>Akreditas Jurusan Fakultas Keguruan dan Ilmu Pendidikan</h1></center><br>
    <h2>1. Pendidikan Non Formal akreditasnya adalah </h2>
    <p>A</p><br>
    <h2>2. Pendidikan Bahasa Indonesia akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>3. Pendidikan Bahasa Inggris akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>4. Pendidikan Biologi akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>5. Pendidikan Matematika akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>6. PGSD akreditasnya adalah</h2>
    <p>A</p><br>
    <h2>7. PG PAUD akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>8. Bimbingan Konseling (BK) akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>9. Pendidikan Fisika akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>10. Pendidikan IPA akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>11. Pendidikan Kimia akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>12. Pendidikan Khusus akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>13. Pendidikan PKN akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>14. Pendidikan Sejarah akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>15. Pendidikan Seni Pertunjukkan akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>16. Pendidikan Sosiologi akreditasnya adalah</h2>
    <p>B</p><br>
    <h2>17. Pendidikan Teknik Mesin akreditasnya adalah</h2>
    <p>C</p><br>
    <h2>18. Pendidikan Teknik Elektro akreditasnya adalah</h2>
    <p>C</p><br>

{% endblock %}