{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #95A5A6}
</style>
    <center><h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1></center>
    <h2>Terdiri dari:</h2>
    <p>1. Pendidikan Non Formal<br>
    2. Pendidikan Guru Sekolah Dasar (SD)<br>
3. Pendidikan Anak Usia Dini (PG PAUD)<br>
4. Pendidikan Bahasa dan Sastra Indonesia (Dikstrasia)<br>
5. Pendidikan Bahasa Inggris<br>
6. Pendidikan Matematika<br>
7. Pendidikan Biologi<br>
8. Pendidikan Bimbingan dan Konseling<br>
9. Pendidikan Khusus (PLB)<br>
10. Pendidikan Bahasa Indonesia<br>
11. Pendidikan Kewarganegaraan<br>
12. Pendidikan Sejarah<br>
13. Pendidikan Sosiologi<br>
14. Pendidikan Fisika<br>
15. Pendidikan Kimia<br>
16. Pendidikan IPA<br>
17. Pendidikan Teknik Elektro<br>
18. Pendidikan Teknik Mesin</p>

<h2>Daftar Nama Dosen Fkip</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal_Lahir</th>
            <th>Photo</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat_Rumah</th>
        </tr>
        {% for dosen in dataDosen %}
        <tr>
            <td>{{ dosen.NIP }}</td>
            <td>{{ dosen.nama }}</td>
            <td>{{ dosen.tanggal_lahir }}</td>
            <td><img src="{{ dosen.photo }}" alt="Photo" width="100px"></td>
            <td>{{ dosen.email }}</td>
            <td>{{ dosen.fakultas }}</td>
            <td>{{ dosen.prodi }}</td>
            <td>{{ dosen.alamat_rumah }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Daftar Nama Mahasiswa Fkip</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Tanggal_Lahir</th>
            <th>Photo</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
        </tr>
        {% for mahasiswa in dataMahasiswa %}
        <tr>
            <td>{{ mahasiswa.NIM }}</td>
            <td>{{ mahasiswa.Nama }}</td>
            <td>{{ mahasiswa.Tanggal_Lahir }}</td>
            <td><img src="{{ mahasiswa.photo }}" alt="Photo" width="100px"></td>
            <td>{{ mahasiswa.Email }}</td>
            <td>{{ mahasiswa.Fakultas }}</td>
            <td>{{ mahasiswa.Prodi }}</td>
            
        </tr>
        {% endfor %}
    </table>

    <h2>Daftar Nama TenagaPendidik Fkip</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal_Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Unit</th>
            <th>Alamat_Rumah</th>
        </tr>
        {% for TenagaPendidik in dataMahasiswa %}
        <tr>
            <td>{{ TenagaPendidik.NIM }}</td>
            <td>{{ TenagaPendidik.nama }}</td>
            <td>{{ TenagaPendidik.tanggal_lahir }}</td>
            <td><img src="{{ staff.foto }}" alt="Foto" width="100px"></td>
            <td>{{ TenagaPendidik.email }}</td>
            <td>{{ TenagaPendidik.unit }}</td>
            <td>{{ TenagaPendidik.alamat_rumah }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}